<?xml version="1.0"?>
<robot name="myrobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find myrobot_description)/urdf/myrobot.xacro" />
  <xacro:include filename="$(find myrobot_simulator)/urdf/macro.gazebo.xacro" />

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

    <xacro:ir_sensor_gazebo name="front_0">
    <topicName>/myrobot/sensor/front_0</topicName>
    <frameName>ir_sensor_front_0</frameName>
  </xacro:ir_sensor_gazebo>

  <xacro:ir_sensor_gazebo name="front_1">
    <topicName>/myrobot/sensor/front_1</topicName>
    <frameName>ir_sensor_front_1</frameName>
  </xacro:ir_sensor_gazebo>

  <xacro:ir_sensor_gazebo name="front_2">
    <topicName>/myrobot/sensor/front_2</topicName>
    <frameName>ir_sensor_front_2</frameName>
  </xacro:ir_sensor_gazebo>

  <xacro:property name="M_PI" value="3.1415926535897931"/>

<xacro:macro name="rplidar_a2_gpu" params="name ros_topic update_rate ray_count min_angle max_angle">
    <gazebo reference="${name}_frame">
        <sensor name="${name}" type="ray">
            <update_rate>${update_rate}</update_rate>
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <ray>
                <scan>
                    <horizontal>
                        <samples>${ray_count}</samples>
                        <resolution>1</resolution>
                        <min_angle>${min_angle * M_PI/180}</min_angle>
                        <max_angle>${max_angle * M_PI/180}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.15</min>
                    <max>12.0</max>
                    <resolution>0.1</resolution>
                </range>
            </ray>
            <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_${name}_controller">
                <topicName>${ros_topic}</topicName>
                <frameName>${name}_frame</frameName>
            </plugin>
        </sensor>
    </gazebo>
</xacro:macro>

<xacro:rplidar_a2_gpu 
    max_angle="360" 
    min_angle="0" 
    name="rplidar_a2" 
    ray_count="400"
    ros_topic="/myrobot/rplidar/scan" 
    update_rate="20"/>


</robot>
